<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>82437318504-3gtfegt1em4t499gnichhdn4mk6bo9ts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82437318504-3gtfegt1em4t499gnichhdn4mk6bo9ts</string>
	<key>API_KEY</key>
	<string>AIzaSyCDZTaY3s8JBA1iw3eSvWCN5fb9bkgWyGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>82437318504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stars.ukambaqi</string>
	<key>PROJECT_ID</key>
	<string>kambaqi-68bd9</string>
	<key>STORAGE_BUCKET</key>
	<string>kambaqi-68bd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82437318504:ios:8bd3794a2c486955</string>
	<key>DATABASE_URL</key>
	<string>https://kambaqi-68bd9.firebaseio.com</string>
</dict>
</plist>